


/* test */

.modal-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-title {
  position: relative;
  z-index: 2;
  color: white;
}

.close-button {
  position: relative;
  z-index: 2;
  color: white;
}
* {
  font-family: arial;
}

.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.primaryinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.secondaryinfo {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 0px; 
}

.highs-lows {
  display: flex;
  justify-content: space-around;
  color: white;
}

div[data-temperature] {
  /* CSS rules here */
  font-size: 4rem;
  color:#ffffff
  
}

div[data-condition] {
  font-size: 1.4rem;
  color:#ffffff
}




.border-shape {
  border: 0;
  background-image: url("weather-images/mosi-knife-sun.jpg");
  background-size: cover;
  max-height: 40vh;
  min-width: 100vw;
  z-index: 10;
  border-radius: 38px 38px 0 0; /* Adjust the value as per your desired border radius */
}

.hour {
  border-bottom: 1px solid black;
  height: 10rem;
}


.bottom-half-card {
  background-color: #ffffff;
  padding-top: 5px;
  margin-top: 30%;
}

.forecast-wrapper {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.hour-container {
  width: 100%;
  margin-left: 5%;
  z-index: 1;
  padding: 1.3rem 0rem 1.3rem 0rem;
  border-radius: 30px;
  /* background-color: black;
  
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 6px inset, rgba(255, 255, 255, 0.5) -3px -3px px 1px inset;  
  /* box-shadow: inset 5px 0 10px 5px rgba(0, 0, 0, 0.2); */
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, inset rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#parent-hourly {
  position: relative;
  height: 130px; /* Set a fixed or maximum height */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap;
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 1x12 grid */
  gap: 0.1rem;
  padding: 0rem 0rem 0rem 0rem;
  /* Enable scrolling if content overflows */
}

.hour {
  /* Styles for the individual hour elements */
  border-radius: 18px;
  height: 120px;
  width: 70px; /* Adjust as per your requirements */
  BORDER: TRANSPARENT;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  margin-bottom: 10px; /* Add some spacing between the hours */
}
.hour:last-child{
  margin-right: 4rem;
}

.forecast {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-top: 0rem;
  padding: .5rem;
  height: 100%;
  min-height: 8rem;
  min-width: 6rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 18px;
  display: flex;
  justify-content: space-evenly;
  
}

.forecast-header {
  font-size: 110%;
  font-weight: bold;
  color: rgb(73, 73, 73);
}

.forecast-icon {
  height: 3rem;
  opacity: 70%;
  padding-top: .6rem;
}

.forecast-highs-lows {
  display: flex;
  gap: 1rem;
  padding-left: .3rem;
  padding-right: .3rem;
  color: rgb(73, 73, 73);
  align-items: center;
  justify-content: center;
}